@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);

  --main-bg: hsl(217, 54%, 11%);
  --card-bg: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

ul {
  list-style-type: none;
}

p {
  font-weight: 300;
  color: hsl(0, 0%, 100%, 60%);
}

body {
  max-height: 100vh;
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  background-color: var(--main-bg);
  color: hsl(0, 0%, 100%);
  padding: 1.25rem;
}

.container {
  padding: 1.25rem;
  background-color: var(--card-bg);
  border-radius: 0.5rem;
}

.container h2 {
  margin: 1.25rem 0.5rem 0.5rem 0;
}

.container ul {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;
  border-bottom: 1px solid var(--line);
}

.container ul li {
  display: flex;
  align-items: center;
}

.container ul li img {
  margin-right: 0.5rem;
}

.container ul li:first-child {
  color: var(--cyan);
}

.container ul li:last-child {
  color: var(--soft-blue);
}

.created_by {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 2rem;
}

.created_by img {
  width: 3rem;
  border: 1.75px solid var(--white);
  border-radius: 50%;
  margin-right: 1rem;
}

.created_by p span {
  color: white;
  font-weight: 400;
}

.attribution {
  font-size: 12px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
